
@font-face {
  font-family: 'iconfont';  /* project id 561422 */
  src: url('https://at.alicdn.com/t/font_561422_9cu23sjtas90be29.eot');
  src: url('https://at.alicdn.com/t/font_561422_9cu23sjtas90be29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561422_9cu23sjtas90be29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561422_9cu23sjtas90be29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561422_9cu23sjtas90be29.svg#iconfont') format('svg');
}

.head_car1{
	font-family: 'iconfont';
	color: #b0b0b0;
	line-height: 40px;
}
.head_car2{
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
}
.fuli1_icon{
	font-family: 'iconfont';
	color: #cfcdcb;
	line-height: 92px;
	margin: 0 31px;
	font-size: 25px;
	float: left;
	position:absolute; 
	z-index: 0;
}
.weixiu{
	font-family: 'iconfont';
	color: #b0b0b0;
	line-height: 79px;
	font-size: 25px;
	float: left;
	/* margin-left: 54px; */
	/* margin-right: 5px; */
}
.kefu{
	font-family: 'iconfont';
	font-size: 12px;
	color: #ff6700;
	line-height: 28px;
	float: left;
	margin-left: 9px;
}
.head{
	width: 100%;
	height: 40px;
	background-color: #333333;
}
.head_main{
	width: 1226px;
	height: 40px;
	background-color: ;
	margin: 0 auto;  
}
.head_wenzi{
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
	float: left;
	font-family: "微软雅黑";
}
.head_line{
	width: 1px;
	height: 12px;
	background-color: #423d39;
	float: left;
	margin-top: 14px;
	margin: 14px 7px 0;
}
.head_left{
	float: left;
}
.head_right{
	float: right;
}
.head_car{
	width: 120px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 25px;
	text-align: center;
}
.daohang{
	width: 1226px;
	height: 100px;
	
	margin: 0 auto;
}
.daohang_logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
	float: left;
}
.daohang_wenzi{
	float: left;
	margin-left: 189px;
	
}
.daohang_wenzi span{
	line-height: 100px;
	color: #333333;
	font-size: 15px;
	font-family: "微软雅黑";
	float: left;
	padding:0 10px;
	cursor: pointer;

}
.search{
	
	width: 295px;
	height: 50px;
	float: right;
	margin-top: 25px;
	
}
.search1{
	float: right;
	font-family: 'iconfont';
	font-size: 16px;
	color: #b0b0b0;
	line-height: 48px;
	text-align: center;
	background-color: #fafafa;
	border: 1px solid #b0b0b0;
	border-left: 0;
}
.search1:hover{
	background-color: #ff6700;
}
.search2{
	float: right;
}


.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
}
.banner_img{
	width: 100%;
	height: 100%;
	background-color: red;
	position: relative;
}
.banner_img img{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.banner_nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	left: 0;
	top:0;
	padding:20px 0;
}
.banner_nav li{
	width: 174px;
	height: 42px;
	/* background-color: #333; */
	line-height: 42px;
	font-size: 14px;
	color: white;
	padding:0 30px;
}
.banner_jiantou{
	float: right;
}

.banner_btn{
	width: 41px;
	height: 69px;
	/* background-color: yellow; */
	text-align: center;
	line-height: 69px;
	color: #b0b0b0;
	font-size: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin:auto;
}
.banner_lbtn{
	left: 234px;
}
.banner_rbtn{
	right: 0;
}



.fuli{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	background-color: white;
	padding-top: 14px;
}
.fuli1{
	width: 234px;
	height: 100%;
	float: left;
	background-color: #5f5750;
}
.fuli1_s{
	width: 78px;
	height: 85px;
	float: left;
	cursor: pointer;
}
.fuli1_s span{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #cfcdcb;
	text-align: center; 
	position:absolute; 
	z-index: 1;
	margin-top: 62px;
	margin-left: 19px;
}
.fuli2{
	width: 316px;
	height: 170px;
	float: left;
	cursor: pointer;
	margin-left: 14px;
}

.danpin{
	width: 1226px;
	height: 398px;
	margin: 0 auto;
}
.danpin_top{
	width: 100%;
	height: 58px;
	
}
.danpin_top h1{
	color: #333;
	font-size: 21px;
	line-height: 58px;
	float: left;
	font-weight: 400;
	font-family: "微软雅黑";
}
.danpin_btn{
	width: 69px;
	height: 22px;
	background-color: white;
	float: right;
	margin-top: 17px;
	border: 1px solid #e0e0e0;
}
.danpin_btn div{
	width: 34px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	float: left;
	cursor: pointer;
}
.danpin_btn1{
	border-right: 1px solid #e0e0e0;
}
.danpin_bottom{
	width: 1226px;
	height: 340px;
	/* background-color: green; */

}
.danpin_item{
	width: 234px;
	height: 300px;
	background-color: #FAFAFA;
	border-top: 1px solid #FFAC13;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.danpin_item img{
	width: 160px;
	height: 166px;
	margin: 0 auto;
	display: block;
}
.danpin_item h1{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	font-family: "微软雅黑";
	margin-top: 22px;
}
.danpin_item h2{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-top: 3px;
}
.danpin_item h3{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-top: 12px;
}
.danpin_item1{
	margin-right: 0px;
	border-top: 1px solid #00C0A5;
}
.danpin_item2{
	border-top: 1px solid #E53935;
}
.danpin_item3{
	border-top: 1px solid #2196F3;
}
.danpin_item4{
	border-top: 1px solid #83C44E;
}

.zhongbu{
	width: 100%;
	/* height: 4614px; */
	background-color: #fafafa;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.znyj{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
	/* padding-top: 78px; */
	/* background-color: red; */
}
.znyj_top{
	width: 100%;
	height: 58px;
}
.znyj_top span{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: 400;
	line-height: 58px;
	/* display: block; */
	/* padding-top: 78px; */
}
.znyj_top_right{
	float: right;
	/* background-color: red; */
}
.znyj_top_right span{
	float: left;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: normal;
	line-height: 58px;
}
.znyj_btn{
	width: 23px;
	height: 23px;
	background-color: #b0b0b0;
	float: left;
	margin-top: 17.5px;
	margin-left: 10px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 23px;
}
.znyj_bottom{
	width: 100%;
	height: 614px;
	/* background-color: blue; */
}
.znyj_left{
	width: 234px;
	height: 614px;
	background-color: yellow;
	float: left;

}
.znyj_right{
	width: 992px;
	height: 100%;
	float: left;
	/* background-color: plum; */
}
.znyj_item{
	width: 234px;
	height: 266px;
	background-color: white;
	margin-left: 14px;
	padding-top: 34px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
}
.znyj_item img{
	width: 150px;
	height: 156px;
	margin: 0 auto;
	display: block;
}
.znyj_item a{
	display: block;
	text-align: center;
	color: #333;
	margin-top: 18px;
	font-size: 14px;

}
.znyj_item p{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.znyj_item h1{
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
	color: #ff6700;
	font-weight: normal;

}
.znyj_item1{
	margin-top: 14px;
}

.znyj_item2{
	margin-left: 0;
	padding-top: 0;
	height: 300px;
}
.znyj_item_tuijian{
	margin-left: 0;
}
.znyj_item3 img{
	width: 234px;
	height: 300px;
}
.znyj_itemtop{
	width: 234px;
	height: 143px;
	background-color: white;
	padding-top: 0px;
}
.znyj_item4{
	padding-top: 0px;
	height: 300px;
	/* background-color: pink; */
}

.znyj_itemtop_left{
	float: left;
	width: 117px;
	height: 100%;
}
.znyj_itemtop_left a{
	text-align: left;
	display: block;
	color: #333;
	/* margin-top: 18px; */
	font-size: 14px;
	margin-left: 30px;
	padding-top: 45px;
}
.znyj_itemtop_left h1{
	font-size: 14px;
	margin-top: 10px;
	text-align: left;
	color: #ff6700;
	font-weight: normal;
	margin-left: 30px;
}
.znyj_itemtop img{
	width: 117px;
	height: 100%;
}
.znyj_item5{
	background-color: #fafafa;
}
.znyj_itembottom{
	width: 234px;
	height: 143px;
	background-color: white;
	padding-top: 0px;
	margin-top: 14px;
	cursor: pointer;
	
}
.jiange{
	margin-top: 22px;
}
.zhineng{
	width: 100%;
	height: 58px;
	float: left;
}
.zhineng p{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: 400;
	line-height: 58px;
	float: left;
}
.zhineng span{
	float: left;
	display: block;
	margin-left: 26px;
	
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	/* margin-top: 0px; */
}
.zhineng_right{
	float: right;
}
.zhineng_right_remen{
	border-bottom: 2px solid #ff6700;
}
.tuijian{
	width: 1226px;
	height: 358px;
	margin: 22px auto 0;
}
.tuijian_bottom{
	width: 100%;
	height: 314px;
}
.reping{
	width: 1226px;
	height: 473px;
	margin:22px auto 0;
}
.reping_bottom{
	width: 100%;
	height: 415px;
	margin:0 auto;
}
.reping_bottom_item{
	width: 296px;
	height: 100%;
	float: left;
	background-color: white;
}
.reping_bottom_item img{
	width: 100%;
	height: 220px;
}
.reping_bottom_item h1{
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	margin: 34px 27px 0;
}
.reping_bottom_item h2{
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	margin: 31px 27px 0;
}
.reping_bottom_item h3{
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	margin:17px 8px 0 27px;
	float: left;
}
.reping_bottom_item span{
	width: 1px;
	height: 14px;
	background-color: #f0e7e0;

	float: left;
	margin-top:19px;
}
.reping_bottom_item .jiage {
	color: #ff6700;
	margin-left: 8px;
}
.reping_bottom_item1{
	margin-left: 14px;
}
.neirong{
	width: 296px;
	height: 414px;
	float: left;
	background-color: white;
	border-top: 1px solid #ffac13;
	padding-top: 30px;
}
.neirong h1{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffac13;
	font-weight: 400;
}
.neirong h2{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333;
	font-weight: 400;
	margin-top: 25px;
}
.neirong h3{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #b0b0b0;
	font-weight: 400;
	margin: 12px 37px 20px;
	
}
.neirong h4{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	font-weight: 400;
	margin-bottom: 19px;
}
.neirong img{
	width: 216px;
	height: 154px;
	margin:0 40px;
}
.neirong_btn{
	width: 6px;
	height: 6px;
	background-color: #b0b0b0;
	float: left;
	border-radius: 50%;
	line-height: 23px;
	margin-top: 22px;
	margin-left: 145px;
	margin-right: 28px;

}
.neirong_btn1{
	width: 6px;
	height: 6px;
	background-color: #b0b0b0;
	float: left;
	border-radius: 50%;
	line-height: 23px;
	margin-top: 22px;
	/* margin-right: 35px; */
	
}
.neirong_btn2{
	width: 10px;
	height: 10px;
	background-color: #ff6700;
	float: left;
	border-radius: 50%;
	line-height: 23px;
	margin-top: 20px;
	margin-left: 109px;
	z-index: 0;
	position: absolute;
}
.neirong_btn3{
	width: 6px;
	height: 6px;
	background-color: white;
	float: left;
	border-radius: 50%;
	line-height: 23px;
	margin-top: 22px;
	margin-left: 111px;
	position:absolute; 
	z-index: 1;
}
.neirong1{
	margin-left: 14px;
	border-top:1px solid #83c44e; 
	
}
.neirong2{
	border-top:1px solid #e53935; 
	
}
.neirong3{
	border-top:1px solid #2196f3; 
	}
.neirong1 h1{
	color: #83c44e;
}
.neirong2 h1{
	color: #e53935;
}
.neirong3 h1{
	color: #2196f3;
}

.shipin{
	width: 1226px;
	height: 365px;
	margin: 0 auto;
}
.shipin_bottom{
	width: 100%;
	height: 285px;
	float: left;
}
.shipin_bottom_1{
	width: 296px;
	height: 285px;
	float: left;
	background-color: white;
}
.shipin_bottom_1_tupian{
	width: 100%;
	height: 180px;
	position: relative;
	cursor: pointer;
	
}
.shipin_bottom_1 h1{
	font-size: 16px;
	font-weight: 400;
	font-family: "微软雅黑";
	text-align: center;
	margin-top: 33px;
}
.shipin_bottom_1 h2{
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin-top: 13px;
	color: #bbbbc5;
}
.shipin_bottom_2{
	margin-left: 14px;
}
.shouhou{
	width: 100%;
	height: 272px;
	background-color: white;
	overflow: hidden;
}
.shouhou1{
	width: 1226px;
	height: 100%;
	margin:0 auto;
	overflow: hidden;
}
.shouhou1_top{
	width: 100%;
	height: 79px;
	overflow: hidden;
}
.shouhou1_weixiu{
	width: 188px;
	height: 79px;
	float: left;
	padding-left: 54px;
}
.shouhou1_weixiu h1{
	font-size: 16px;
	font-weight: 400;
	font-family: "微软雅黑";
	color: #616161;
	line-height:79px;
	/* text-align: center; */
	margin:0 auto;
	float: left;
}
.shouhou1_line{
	width: 1px;
	height: 25px;
	background-color: #e0e0e0;
	float: left;
	margin-top: 30px;
}
.shouhou_xian{
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
	float: left;
}
.shouhou_bottom{
	width: 100%;
	height: 100%;
}
.shouhou_bottom_left{
	width: 971px;
	height: 100%;
	float: left;

}
.shouhou_bottom_left1{
	width: 161px;
	height: 100px;
	float: left;
}
.shouhou_bottom_left1 h1{
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: 400;
	margin-top: 42px;
	margin-bottom: 32px;

}
.shouhou_bottom_left1 h2{
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: 400;
	color: #757575;
	margin-bottom: 16px;
	cursor: pointer;
}
.fengexian{
	width: 1px;
	height: 112px;
	margin-top: 40px;
	background-color: #e0e0e0;
	float: left;
}
.shouhou_bottom_right{
	width: 254px;
	height: 100%;
	/* background-color: red; */
	float: left;

}
.shouhou_bottom_right h1{
	font-size: 16px;
	color: #ff6700;
	text-align: center;
	margin-top: 42px;
}
.shouhou_bottom_right h2{
	font-weight: 400;
	font-size: 14px;
	color: #616161;
	text-align: center;
	margin-top: 13px;
}
.shouhou_bottom_right .kuohao{
	margin-top: 7px;
}
.shouhou_bottom_right_kefu{
	
	width: 118px;
	height: 28px;
	margin:20px auto;
	border: 1px solid #ff6700;
	cursor: pointer;
}
.shouhou_bottom_right_kefu span{
	color: #ff6700;
	font-weight: 400;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}
.dibubeijing{
	width: 100%;
	background-color: #fafafa;
}
.dibu{
	width: 1226px;
	height: 87px;
	margin: 0 auto;
	background-color: #fafafa;
	padding-top: 30px;
}
.dibu_left{
	width: 785px;
	height: 100%;
	float: left;
}
.dibu_left_logo{
	width: 57px;
	height: 57px;
	background-color: #ff6700;
	float: left;
	margin-right: 10px;
}
.dibu_left h1{
	width: 640px;
	font-weight: 400;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 25px;

}
.dibu_wenzi{
	line-height: 20px;
	margin-top: 0px;
	font-size: 10px;
	cursor: pointer;
}
.dibu_wenzi1{
	margin: 5px 3px 0;
}
.dibu_right{
	width: 360px;
	height: 100%;
	float: right;
}
.dibu_right_tu{
	width: 84px;
	height: 28px;
	float: left;
	cursor: pointer;
}
.biaoyu{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	font-family: "楷体";
	color: #b0b0b0;
	background-color: #fafafa;
}


.head_wenzi:hover{
	color: #fff;
}
.head_car:hover{
	background-color: #fff;
	cursor: pointer;
}
.head_car:hover span{
	color: #ff6700;
}
.daohang_wenzi span:hover{
	color: #ff6700;
}
li:hover{
	background-color: #ff6700;
	color: white;
	cursor: pointer;
}
.banner_btn:hover{
	background-color: rgba(0,0,0,.6);
	cursor: pointer;

}
.fuli1_s:hover span{
	color: white;
}
.fuli1_s:hover div{
	color: white;
}
.danpin_btn1:hover{
	color:  #ff6700;
}
.danpin_btn div:hover{
	color:  #ff6700;
}
.znyj_top_right:hover span{
	color: #ff6700;
	cursor: pointer;

}
.znyj_top_right:hover div{
	cursor: pointer;
	background-color: #ff6700;
}
.zhineng_right span:hover{
	color: #ff6700;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
}
.neirong_btn:hover{
	cursor: pointer;
	background-color: #ff6700;
}
.neirong_btn1:hover{
	cursor: pointer;
	background-color: #ff6700;
}
.shipin_bottom_1 h1:hover{
	color:  #ff6700;
	cursor: pointer;
}
.shouhou1_weixiu:hover span{
	color:  #ff6700;
	cursor: pointer;
}
.shouhou1_weixiu:hover h1{
	color:  #ff6700;
	cursor: pointer;
}
.shouhou_bottom_left1 h2:hover{
	color:  #ff6700;

}
.shouhou_bottom_right_kefu:hover span{
	
	color: white;
}
.shouhou_bottom_right_kefu:hover{
	background-color: #ff6700;
}
.dibu_wenzi:hover{
	color: #ff6700;
}
.bofang{
	width: 36px;
	height: 24px;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	z-index: 1;
	left: 20px;
	bottom: 10px;
	border-radius: 24px;
	border: 1px solid white;
	/* position: relative; */
}
.bofang_sanjiao{
	font-size: 12px;
	font-family: 'iconfont';
	color: white;
	line-height: 24px;
	margin-left: 12px;
	position: absolute;
	z-index: 2;
}
.shipin_bottom_1_tupian:hover div{
	cursor: pointer;
	background-color: #ff6700;
	cursor: pointer;

}
.banner_dian{
	width: 100px;
	height: 10px;
	/* background-color: red; */
	float: right;
	
	position: absolute;
	z-index: 1;
	right: 20px;
	bottom: 20px;
}
.banner_dian1{
	width: 6px;
	height: 6px;
	background-color: #666;
	border-radius: 6px;
	float: left;
	border:2px solid rgba(0,0,0,.3);
	margin:0 5px;
	cursor: pointer;
}
.banner_dian1:hover{
	background-color: pink;
}
.liulangengduo{
	width: 117px;
	height: 143px;
	float: left;
}
.liulangengduo1{
	
	font-family: "iconfont";
	line-height: 143px;
	margin:15px 33px 0px 33px;
	font-size: 50px;
	color: #ff6700;
}
.znyj_tan{
	width: 100%;
	height: 80px;
	background-color: #ff6700;
	position: absolute;
	left: 0;
	bottom: -80px;
	transition: bottom 1s ease-in-out,opacity 1s ease-in-out;
	opacity: 0;
	line-height: 80px;
	text-align: center;
	color: white;
}
.znyj_item:hover .znyj_tan{
	bottom: 0;
	opacity: 1;
}
.znyj_left:hover,.znyj_item:hover,.reping_bottom_item:hover,.neirong:hover,.shipin_bottom_1:hover,.znyj_itemtop:hover{
	box-shadow: 0 7px 10px 5px #B9B9B9;
	transform: translateY(-2px);
	cursor: pointer;
}
.znyj_item5:hover{
	box-shadow: 0 0 0 0;
	transform: translateY(0);
}
.znyj_left,.znyj_item,.reping_bottom_item.neirong,.shipin_bottom_1,.znyj_itemtop,.znyj_item5{
	transition: all 0.5s ease-out;
}
